<div class = 'content-section'>
	<div class = 'text-center'>
		<h1> Contact </h1>
	</div>
	<br>
	<div class = 'text-center'>
		<h3>Phone: (585) 658-4180</h3>
		<h3>Fax: (585) 658-2850</h3>
	</div>
	<br>
	<div id = 'form-container'>
		<h2 class = 'text-center'>Leave a Message</h2>
		<br>
	<%= form_for(@contact, :url => { :action => "create" , :anchor => "form-container" }) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.label :name %>
	     <%= f.text_field :name, class: 'form-control' %>
	     <br>
	     <%= f.label :email %>
	     <%= f.email_field :email, class: 'form-control' %>
	     <br>
	     <%= f.label :subject %>
	     <%= f.text_field :subject, class: 'form-control' %>
	     <br>
	      <%= f.label :body %>
	      <%= f.text_area :body, class: 'form-control' %>

	      
     		
	      <br>
	     <div class = 'text-center' id = 'feedback-button'>
	   		<%= f.button :Submit, :class=> "btn btn-primary", :id=> "feedback-button" %>
	   	</div>
	   
	  <% end %>
	</div>

</div>